@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/amaticsc-regular.ttf');
}

$amatic: 'Amatic SC';
$gray: #e6e6e6; 
$silver: #fcfcfc; 
$white: #ffffff;
$black: #1e1e1e;
$red: #ff5050;
$media-small: 550px;
$media-large: 750px;
